table {
	border: 3px solid black;
}

td:hover {
	background-color: black;
	color: red;
}

tr, th {
	background-color: silver;
	color: yellow;
}

tr, td {
	background-color: darkgreen;
	color: white;
}