
C# projects/MyWebpage/MyWebpage/.vs/MyWebpage/v16/.suo
404.shtml
C# projects/MyWebpage/MyWebpage/.vs/MyWebpage/v16/Server/sqlite3/db.lock
C# projects/MyWebpage/MyWebpage/.vs/MyWebpage/v16/Server/sqlite3/storage.ide
C# projects/MyWebpage/MyWebpage/.vs/MyWebpage/v16/Server/sqlite3/storage.ide-shm
C# projects/MyWebpage/MyWebpage/.vs/MyWebpage/v16/Server/sqlite3/storage.ide-wal
